/* -----------------------------------
   ------- Homepage stylesheet -------
   ----------------------------------- */
   
   
/* -----------------------------------
   ------------- General -------------
   ----------------------------------- */
html {
	height:100%;
	background:white;
}

body {
	background:none;
	margin-top: 80px;
	padding-bottom:60px;
}

hr {
	color:#DDD;
    border: 0.1em solid;
	border-color: #666;
    border-radius: 1em 1em 1em 1em;
	width:96%;
	margin-left:2%;
}

#container-divider {
	border-color: rgba(0,0,0,0.5);
}

.col-centered {
    margin: 0 auto;
    float: none;
}

a:hover {
	text-decoration:none;
}

#main-center-icon {
	position: fixed;
    text-align: center;
	z-index:1040;
	top:0.6rem;
	left:48%;
	width:5.8rem;
	border-radius:6rem;

	
	padding-top:1.8rem;
	padding-bottom:1.8rem;
	
	color: rgba(0,0,0,0.3);
	background: #45A6E6;
	
	box-shadow: 0rem 0rem 1rem #111;
}

#main-center-icon:hover  {
	color: rgba(0,0,0,0.8);
	background: #3E95CF;
}

/* -----------------------------------
   ---------- Auctions Grid ----------
   ----------------------------------- */
.page-header {
	margin-top:2.5rem;
	text-align:center;
	font-family: 'Advent Pro';
}

.page-header h1 {
	font-weight: 600;
}

.page-header h4 {
	font-weight: 600;
}

#category-grid {
	background: rgba(190,190,190,0.1);
	box-shadow: 0rem 0rem 1rem #888888;
   	border: 0.2rem solid transparent;
	padding-top:1rem;
	border-radius:0.4rem;
	padding-left:3.3rem;
	padding-right:3.3rem;
}

.thumbnail {
	border-radius:0.4rem;
	text-align:center;
	background: rgba(0,90,0,0.1);
	box-shadow: 0rem 0rem 0.2rem #888888;
}

.thumbnail img {
	width:11rem;
}

a.thumbnail {
	color:black;
}

a.thumbnail:hover {
	text-decoration:none;
	border-color: rgba(69,166,230,0.4);
	background: rgba(69,166,230,0.35);
}

/* -----------------------------------
   -------- Sign in/up Modals --------
   ----------------------------------- */
#close_signup {
	padding-top:5px;
	color:white;
}

.modal-content .modal-title {
	text-align:center;
}

.modal-content {
	background:rgba(255,255,255,1);
	color:black;
}

.btn-modal {
	display:block;
	margin: 0 auto;
}

/* -----------------------------------
   ------------- Navbars -------------
   ----------------------------------- */
a.navbar-brand span {
	color:white;
}

.navbar-left.hidden-md .input-group {
	width:100%;
}
   
.navbar-fixed-top {
	background:#45A6E6;
	border-bottom: 0.2rem solid rgba(0,0,0,0.1);
	padding-right: 1.5rem;
}

.navbar-fixed-top #navbar-search-small {
	width:92%;
	margin-left:4%;
}

#navbar-collapse-top li a.hidden-sm  {
	width:92%;
	margin-left:4%;
	border-radius:0.4rem;
	margin-top:0.1rem;
	text-align: center;
}

.navbar-fixed-top ul.navbar-nav li a {
	color:white;
}

#create-auction-large {
	color:white;
	background:#53C153;
	position: fixed;
    text-align: center;
	z-index:1040;
	box-shadow: 0rem 0rem 1.5rem #222;
	
	/* border-radius: 0.4rem; */
	
	top:-2rem;
	right:20rem;
	height:8rem;
	padding-top:3.5rem;
	padding-bottom:1.5rem;
	padding-right:1.5rem;
	padding-left:1.5rem;
}

#create-auction-large:hover  {
	/* color:#53C153; */
	color:black;
	background:#4BAE4B;
}

#create-auction-small  {
	color:white;
	background:#53C153;
	box-shadow: 0rem 0rem 0.5rem #111;
}

#create-auction-small:hover  {
	/* color:#53C153; */
	color:black;
	background:#4BAE4B;
}

.navbar-fixed-top ul.navbar-nav li a:hover {
	/* color:white; */
	background:rgba(100,100,100,0.1);
}

.navbar-right .top-navbar-small .btn {
	width:90%;
}

.navbar-fixed-bottom  {
	background: rgba(0,0,0,0.2);
	min-height:2rem;
	border-top: 0.2rem solid rgba(0,0,0,0);
}

.navbar-fixed-bottom .navbar-right {
	padding-left: 1.6rem;
	padding-right: 1.5rem;
}

.navbar-fixed-bottom  li a {
	color:black;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}

#signin-sidebar .nav {
	border: 0.2rem solid #246BB2;
	border-radius:0.4rem;
	text-align:center;
}

#signin-sidebar button {
	width:90%;
	margin-left:5%;	
}

#search-btn {
	color:#246BB2;
}




/* -----------------------------------
   ------------- General -------------
   ----------------------------------- */
.ui-slider .ui-slider-handle {
	z-index: 2;
	width: 2rem;
	height: 2rem;
	text-align: center;	
}

.ui-slider .ui-slider-handle .glyphicon {
	display: none;
}

.ui-corner-all {
	border-radius: 1rem;
}

.ui-slider-horizontal .ui-slider-handle {
}

.ui-state-default,
.ui-widget-content .ui-state-default {
	border: 1px solid #f9f9f9;
	background: #3498db;
}

.ui-slider-horizontal .ui-slider-handle {
	margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
	cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

.ui-slider-range-min {
	background: #2980b9;
}

#sliderVal {
	margin-top: 2rem;
}

#slider {
	margin-bottom: 2rem;
}
